

<%=render "nav"%>
<div id="conteudo">
<h2><%=l :configuration_apf_for_data_types%></h2>
<div id="conf_apf_index">
<table>
<caption>ALI</caption>
  <tr><td></td><td colspan=3><strong><%=t :qnt_type_data%></strong></td></tr>
    <tr>
    <th><%=t :qnt_type_register%></th>
    <th><%= @configuration_apf_for_ALI[0].type_of_data_min%> - <%=  @configuration_apf_for_ALI[0].type_of_data_max%></th>
    <th><%= @configuration_apf_for_ALI[1].type_of_data_min%> - <%=  @configuration_apf_for_ALI[1].type_of_data_max%></th>
    <th><%= @configuration_apf_for_ALI[2].type_of_data_min%> - <%=  @configuration_apf_for_ALI[2].type_of_data_max%></th>
    </tr>
   <tr>

    <td><strong><%= @configuration_apf_for_ALI[0].type_of_register_min%> - <%= @configuration_apf_for_ALI[0].type_of_register_max%></strong></td>
    <td><%= @configuration_apf_for_ALI[0].complexity%> - <%= @configuration_apf_for_ALI[0].pf%> </td>
    <td><%= @configuration_apf_for_ALI[1].complexity%> - <%= @configuration_apf_for_ALI[1].pf%> </td>
    <td><%= @configuration_apf_for_ALI[2].complexity%> - <%= @configuration_apf_for_ALI[2].pf%> </td>
  </tr>
  <tr>
    <td><strong><%= @configuration_apf_for_ALI[3].type_of_register_min%> - <%= @configuration_apf_for_ALI[3].type_of_register_max%></strong></td>
    <td><%= @configuration_apf_for_ALI[3].complexity%> - <%= @configuration_apf_for_ALI[3].pf%> </td>
    <td><%= @configuration_apf_for_ALI[4].complexity%> - <%= @configuration_apf_for_ALI[4].pf%> </td>
    <td><%= @configuration_apf_for_ALI[5].complexity%> - <%= @configuration_apf_for_ALI[5].pf%> </td>
  </tr>
  <tr>
    <td><strong><%= @configuration_apf_for_ALI[6].type_of_register_min%> - <%= @configuration_apf_for_ALI[6].type_of_register_max%></strong></td>
    <td><%= @configuration_apf_for_ALI[6].complexity%> - <%= @configuration_apf_for_ALI[6].pf%> </td>
    <td><%= @configuration_apf_for_ALI[7].complexity%> - <%= @configuration_apf_for_ALI[7].pf%> </td>
    <td><%= @configuration_apf_for_ALI[8].complexity%> - <%= @configuration_apf_for_ALI[8].pf%> </td>
  </tr>
</table>
</div>
<div id="conf_apf_index">
<table>
<caption>AIE </caption>
  <tr><td></td><td colspan=3><strong><%=t :qnt_type_data%></strong></td></tr>
    <tr>
    <th><%=t :qnt_type_register%></th>
    <th><%= @configuration_apf_for_ALI[0].type_of_data_min%> - <%=  @configuration_apf_for_ALI[0].type_of_data_max%></th>
    <th><%= @configuration_apf_for_ALI[1].type_of_data_min%> - <%=  @configuration_apf_for_ALI[1].type_of_data_max%></th>
    <th><%= @configuration_apf_for_ALI[2].type_of_data_min%> - <%=  @configuration_apf_for_ALI[2].type_of_data_max%></th>
    </tr>
   <tr>

    <td><strong><%= @configuration_apf_for_AIE[0].type_of_register_min%> - <%= @configuration_apf_for_AIE[0].type_of_register_max%></strong></td>
    <td><%= @configuration_apf_for_AIE[0].complexity%> - <%= @configuration_apf_for_AIE[0].pf%> </td>
    <td><%= @configuration_apf_for_AIE[1].complexity%> - <%= @configuration_apf_for_AIE[1].pf%> </td>
    <td><%= @configuration_apf_for_AIE[2].complexity%> - <%= @configuration_apf_for_AIE[2].pf%> </td>
  </tr>
  <tr>
    <td><strong><%= @configuration_apf_for_AIE[3].type_of_register_min%> - <%= @configuration_apf_for_AIE[3].type_of_register_max%></strong></td>
    <td><%= @configuration_apf_for_AIE[3].complexity%> - <%= @configuration_apf_for_AIE[3].pf%> </td>
    <td><%= @configuration_apf_for_AIE[4].complexity%> - <%= @configuration_apf_for_AIE[4].pf%> </td>
    <td><%= @configuration_apf_for_AIE[5].complexity%> - <%= @configuration_apf_for_AIE[5].pf%> </td>
  </tr>
  <tr>
    <td><strong><%= @configuration_apf_for_AIE[6].type_of_register_min%> - <%= @configuration_apf_for_AIE[6].type_of_register_max%></strong></td>
    <td><%= @configuration_apf_for_AIE[6].complexity%> - <%= @configuration_apf_for_AIE[6].pf%> </td>
    <td><%= @configuration_apf_for_AIE[7].complexity%> - <%= @configuration_apf_for_AIE[7].pf%> </td>
    <td><%= @configuration_apf_for_AIE[8].complexity%> - <%= @configuration_apf_for_AIE[8].pf%> </td>
  </tr>
</table>
</div>
</div>

