<%=render "configuration_apf_for_data_types/nav"%>
<div id="conteudo">
<h2><%=t("configure_adjustment_factor_for", :factor => @general_caracteristic.name)%></h2>

<% labelled_tabular_form_for :projects_general_caracteristics_level_of_influences, @projects_general_caracteristics_level_of_influence, :url => {:controller => 'projects_general_caracteristics_level_of_influences', :action => 'create', :project_id => @project},
                             :html => {:multipart => true, :id => 'projects_general_caracteristics_level_of_influences-form', :class => 'tabular new-projects_general_caracteristics_level_of_influences-form'} do |f| %>
    <%= error_messages_for 'projects_general_caracteristics_level_of_influence' %>

<div id="form">
<%=render :partial => "form", :locals => {:f => f}%>
    <%= f.submit l(:button_save)%>
<% end %>
</div>
</div>

